@page
@model WebApplication2.Pages.Phims.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Phim</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phim.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phim.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phim.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phim.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phim.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phim.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phim.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phim.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Phim.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
