@page
@model WebApplication2.Pages.Phims.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phim</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phim.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phim.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phim.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phim.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phim.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phim.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phim.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phim.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Phim.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
